/* Estilos generales para la página de login */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://plus.unsplash.com/premium_photo-1686157758105-b100bd44945c?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
}

/* Estilos para el contenedor de login */
.login-container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad para ver la imagen de fondo */
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Sección de imagen */
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: 100%; /* Hacer que la imagen ocupe todo el espacio disponible */
  border-radius: 0 15px 15px 0;
}

/* Sección de formulario */
.form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  border-radius: 15px 0 0 15px;
}

.form-section h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #555;
}

.form-group i {
  margin-right: 10px;
}

.form-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #6b73ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;
}

button[type="submit"]:hover {
  background: #000dff;
}

.register-button {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  border: 2px solid #6b73ff;
  color: #6b73ff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  transition: background 0.3s, color 0.3s;
}

.register-button:hover {
  background: #6b73ff;
  color: white;
}
